.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3.2rem;

  .block-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(39rem, 1fr));
    grid-gap: 1rem;

    .block {
      padding: 3.2rem 0;
      color: #fff;
      border-radius: 1rem;
      flex: 1 0 24%;
      gap: 1rem;
      flex-direction: column;

      .block-statistics {
        font-size: var(--app-font-size);
      }

      .anticon {
        font-size: 4.4rem;
      }
    }
  }

  .chart-container {
    flex: 1;

    .column-chart {
      height: 100% !important;
    }
  }
}
